
$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #ffffff;
  font-size:3.5em;
  text-shadow: 0 0 3px rgba(0,0,0,0.4);
  position: relative;
  z-index: 9;
  font-family: "Montserrat";
}

.parallax-content-box {
  background: rgba(0,0,0,0.3);
  max-width: 100%;
  height:$parallax-window-height;
  margin:0 auto;
  padding: 4em 0;
  text-transform: capitalize;
}

.parallax-background {
  background: url("coffee.jpg") repeat;
  background-position: center -250px;
  background-size: cover;
  background-color: white;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
